
@using TrainingDomainModel;

@model IEnumerable<User>

@{
    ViewBag.Title = "Detail";
}

<div>
    <p>
        User ID <br />
        01
    </p>
    <p>
        User Name <br />
        <input type="text" placeholder="Isi User Name">
    </p>
    <p>
        Is Actived<br />
        <input type="checkbox" />
    </p>
    <p>
        Is Verifiedd<br />
        <input type="checkbox" />
    </p>


</div>

