
@using TrainingDomainModel;

@model User

@{
    ViewBag.Title = "Detail";
    //var mode = ViewBag.Mode;

}


<div>
    <p>
        User ID <br />
        @Model.UserID
    </p>
    <p>
        User Name <br />
        <input type="text" placeholder="Isi User Name">
    </p>
    <p>
        Is Actived<br />
        <input type="checkbox" />
    </p>
    <p>
        Is Verifiedd<br />
        <input type="checkbox" />
    </p>


</div>

