
@using TrainingDomainModel;

@model User

@{
    ViewBag.Title = "Detail";
}
//pake viewbag.mod (tambah di controller dan disini) kalo ada id dia view

<div>
    <p>
        User ID <br />
        @Model.UserID
    </p>
    <p>
        User Name <br />
        <input type="text" placeholder="Isi User Name">
    </p>
    <p>
        Is Actived<br />
        <input type="checkbox" />
    </p>
    <p>
        Is Verifiedd<br />
        <input type="checkbox" />
    </p>


</div>

