@using TrainingDomainModel;

@model IEnumerable<User>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<table style="width:100%">
    <tr style="background-color: silver">
        <th>UserName</th>
        <th>IsActive</th>
        <th>IsVerified</th>
        <th>CreatedBy</th>
        <th>CreatedDate</th>
        <th>ModifirdBy</th>
        <th>ModifiedDate</th>
        <th>kosong</th>
    </tr>
    <tr>
        <td>test_1</td>
        <td>test_2</td>
        <td>test_3</td>
        <td>test_4</td>
        <td>test_5</td>
        <td>test_6</td>
        <td>test_7</td>
    </tr>
</table>

